<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>giflib | Home</title>
</head>
<body>
<div th:insert="fragments/menu::menu"></div>


<div class="gifs container">
    <div class="chip" th:text="${category.name}">category name</div>
    <div class="row">
        <div th:each="gif : ${gifsWithCategory}" class="col s12 l4">
            <a th:href="@{|/gif/${gif.name}|}">
                <img th:src="@{|/gifs/${gif.name}.gif|}" />
            </a>
        </div>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>