<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title th:text="'giflib | ' + ${gif.name}">Kwejk</title>
</head>
<body>
<div th:insert="fragments/menu::menu"></div>
<div class="gif-detail container">
    <div class="frame row">
        <div class="col s12">
            <img th:src="@{'/gifs/' + ${gif.name} + '.gif'}" alt="gif" />
            <a href="#" th:class="(${gif.favourite} ? 'un' : '') + 'mark favorite'"></a>
        </div>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>